<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Language Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h2>Language Detection Model</h2>
        <form action="/predict" method="POST">
            <div class="form-group">
                <label for="text">Enter Text:</label>
                <input type="text" class="form-control" id="text" name="text" required>
            </div>
            
            <!-- Dropdown Box with Language Codes as Values -->
            <div class="form-group">
                <label for="language_option">Choose an Option:</label>
                <select id="language_option" name="language_option" class="form-control" required>
                    <option value="detect">Detect Language</option>
                    {% for lang in languages %}
                    <option value="{{ lang.lower() }}">{{ lang }}</option>
                {% endfor %}
                </select>
            </div>
            
            <button type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
</html>
